<%= @home_message %>

  <h2 class="p-2 bg-yellow-50 shadow-md">
    <% if current_program %>
      <% if current_program_open? %>
        <%= simple_format(current_program.open_instructions) %>
      <% else %>
        <%= simple_format(current_program.close_instructions) %>
      <% end %>
    <% else %>
      There are no active programs
    <% end %>
  </h2>