[Unit]
Description=Puma HTTP Server for %I (production)
After=network.target

[Service]
Environment=PATH=/home/deployer/.asdf/shims:/home/deployer/.asdf/bin:/usr/local/bin:/usr/bin:/bin:$PATH
Type=simple
User=deployer
WorkingDirectory=/home/deployer/apps/nelp_application/current
ExecStart=/home/deployer/.asdf/shims/bundle exec pumactl -F /home/deployer/apps/nelp_application/current/config/puma.rb start
Restart=always
RestartSec=5
ProtectSystem=full
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target