// Configuration & Variables
@import "config/variables";

// Base Styles
@import "base/reset";
@import "base/typography";

// Layout
@import "layout/header";
@import "layout/footer";

// Components
@import "components/buttons";
@import "components/cards";
@import "components/forms";
@import "components/navigation";

// Pages
@import "pages/admin";

// Custom styles (if any)
.flash {
  @apply text-lg;
  &.alert {
    @apply text-yellow-600;
  }

  &.notice {
    @apply text-green-600;
  }
}

input {
  @apply pl-1;

  &.btn {
    @apply font-normal py-1 px-2 rounded no-underline;
  }

  &.btn-success {
    @apply bg-green-700 text-gray-100;

    &:hover {
      @apply bg-green-900;
    }
  }
}

h1 {
  @apply text-xl m-4;
}

h2 {
  @apply text-lg m-4;
}

h5 {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

header a {
  color: white;
  &:hover {
    color: gold;
  }
}

a {
  color: darkblue;
  &:hover {
    color: gold;
  }
}
