<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <%= image_tag "LSA_logo_4c_reverse.png", alt: "LSA Logo", class: "lsa-logo block-m-shadow" %>
      <div class="footer-brand">
        <div class="footer-title">LSA TECHNOLOGY SERVICES</div>
        <div class="footer-subtitle">UNIVERSITY OF MICHIGAN</div>
      </div>
    </div>
    <div class="footer-center">
      <a href="#">Privacy Notice</a> |
      <a href="#">Report an Issue</a> |
      734.615.0100
    </div>
    <div class="footer-right copyright">
      &copy; <%= Time.now.year %> | <%= link_to 'The Regents of the University of Michigan', 'https://regents.umich.edu' %>
    </div>
  </div>
</footer>
