<header class="header-main">
  <div class="header-left">
    <%= image_tag "LSA_logo_4c_reverse.png", alt: "LSA Logo", class: "lsa-logo" %>
    <div class="divider"></div>
    <span class="lsa-text">NELP Payment Portal</span>
  </div>
</header>
